<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список сотрудников</title>
    <link rel="stylesheet" type="text/css" href="/menu/menuStyle.css">
</head>
<body>
    <ul>
        <li><a class="a" href="/">Главная</a></li>
        <li><a class="a" href="#">Мой табель</a></li>
        <li><a class="a" href="#">Все табели</a></li>
        <li><a class="a" href="/worker">Сотрудники</a></li>
        <li><a class="a" href="#">Отчёты</a></li>
        <li><a class="a" href="#">Настройки</a>
            <ul>
                <li><a class="a" href="#">Пользователи</a></li>
                <li><a class="a" href="#">Календарь</a></li>
                <li><a class="a" href="/tuning/organization">Об учереждении</a></li>
            </ul>
        </li>
        <li class="liUserName"><a class="userName">user_name</a></li>
    </ul>
</body>
</html>