<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/menu/menuStyle.css">
</head>
<body>
    <ul>
        <li><a class="a" href="/index">Главная</a></li>
        <li><a class="a" href="/my_report_card">Мой табель</a></li>
        <li><a class="a" href="/all_report_cards">Все табели</a></li>
        <li><a class="a" href="/worker">Сотрудники</a></li>
        <li><a class="a" href="/reports">Отчёты</a></li>
        <li><a class="a" href="#">Настройки</a>
            <ul>
                <li><a class="a" href="#">Пользователи</a></li>
                <li><a class="a" href="#">Календарь</a></li>
                <li><a class="a" href="/tuning/organization">Об учереждении</a></li>
            </ul>
        </li>
        <li class="liUserName"><a class="userName" href="/logout">Выйти</a></li>
    </ul>
</body>
</html>