<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Система учёта сотрудников</title>
    <style>
        .about_org {
            font-size: 20px;
            padding: 0% 1% 1% 32%;
            text-align: left;
            color: #343434;
        }
        .about_org_value {
            font-size: 20px;
            padding: 3% 10% 1% 0.3%;
            text-align: left;
            color: #343434;
        }
    </style>
</head>
<body style="background: #f0fffc">
    {{> menu}}
    <table width=100%>
        <tr>
            <td width="32%" style="padding:3% 5% 1% 20%">  <img src="/images/gerb.png"></td>
            <td class="about_org_value">
                <span style="color:blue; font-size: 35px">АДИЛЕТ СОТ</span></br>
                <span>Учреждение по информационным технологиям </br> при Судебном Департаменте при ВС КР</span>
            </td>
        </tr>
        <tr>
            <td colspan="2" class="about_org">
                <span style="font-weight: bold">Начало рабочего дня: </span>
                <span>09:00  </span>
            </td>
        </tr>
        <tr>
            <td colspan="2" class="about_org">
                <span style="font-weight: bold">Конец рабочего дня: </span>
                <span>18:00 </span>
            </td>
        </tr>
        <tr>
            <td colspan="2" class="about_org">
                <span style="font-weight: bold">Адрес: </span>
                <span>ул. Киевская 96 б, пер. </br>Орозбекова (здание Агропрома) </span>
            </td>
        </tr>
        <tr>
            <td colspan="2" class="about_org">
                <span style="font-weight: bold">Телефоны: </span>
                <span>0312 663-397, 0555 220-373</span>
            </td>
        </tr>
    </table>
</body>
</html>